<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets!!! Funciona, não?!!

        <h:form>
            <h:inputText value="#{controlador.pessoa.id}" />
            <h:inputText value="#{controlador.pessoa.nome}" />
            <h:commandButton value="salvar" action="#{controlador.salvar}" />
        </h:form>
    </h:body>
</html>

